
#cotainer {
    height:100%; 
    width:100%;
}

#side-bar, #graph, #side-buffer, #top-bar, #title-buffer, #title-container {display: inline-block; vertical-align:top;}
            
#side-bar {
     width:15%;
     min-height: 100%;
    /* outline: dotted;
     outline-color: gray;
     outline-style: solid;
     */

}
            
#graph {
    width:72%;
}


#top-buffer {
    width: 100%;
    height: 10px;
}

#top-bar {
  width:70%;
  height: 80px;
}

#side-buffer {
    width: 2%;
}

#title-buffer {
  width:50px;
  height: 50px;
}

#title-container {
}



/* for the hierarchial bundle layout*/
/*.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}
*/

 .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node {
        font: 10px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }



