
#cotainer {
    height: 100%;
    width: 100%;
    background: #fcfcfa;

}

body {

    background-color: #fcfcfa;
    font-family: 'PT Serif', Serif;
    /*background: #fcfcfa;*/
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

#information {
    margin-right: 33%;
}

h1 {

}

h3 {

    font-style: italic;
}

#side-bar, #graph, #side-buffer, #top-bar, #title-buffer, #title-container {
    display: inline-block;
    vertical-align: top;
}

#side-bar {
    float: right;
    width: 240px;
    min-height: 100%;
    background-color: #fcfcfa;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;

}

#graph {
    border-radius: 100px;
    background-image: url("test1.png");
    /* background: url("noisy_image_graph.png");*/
}

#top-buffer {
    width: 50%;
    height: 10px;
    background-color: #f8f2ed;
}

#top-bar {
    text-align: Left;
    margin: 20px;
}

#side-buffer {
    float: right;
    width: 10%;
    height: 100%;
    background-color: #f8f2ed;
}

#left-side-buffer {
    width: 20%;
    height: 100%;
    float: left;
}

#right-side-buffer {
    width: 10%;
    height: 100%;
    float: right;
}

#title-buffer {
    width: 50px;
    height: 50px;
    background-color: #f8f2ed;
}

#title-container {
    background-color: #f8f2ed;
}

#searchWord {
    /*margin-left: 10px;*/
}

#selectLevel {
    /*margin-left: 10px;*/
}

#showRelations {
    /*margin-left: 10px;*/
}

#wordTwo {
    /*margin-left: 10px;*/
}

#relateTo {
    /*margin-left: 10px; */
}

/* for the hierarchial bundle layout*/
/*.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}
*/

.node circle {

    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}



